@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Nunito Sans Light"), local("NunitoSans-Light"),
    url("./NunitoSansLight.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

$antd-button-primary: #1890ff;
$antd-button-primary-hover: #096dd9;
$card-background: hsl(215, 16, 4);
$player-background: hsl(215, 16, 8);

@mixin center-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin center-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin audio-button {
  width: 5vh;
  height: 5vh;
}

body {
  @include center-vertical;

  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  font-feature-settings: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

.center-vertical {
  @include center-vertical;
}

.center-text {
  text-align: center;
}

.title {
  @extend .center-text;

  font-size: 10vmin;
  margin: 0;
  margin: 2vh;
}

.github {
  position: fixed;
  margin: 0;
  width: 5vh;
  height: 5vh;
  top: 5vh;
  right: 5vh;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.github:hover {
  opacity: 1;
  transition: opacity 0.2s;
}

.content {
  display: flex;
  justify-content: center;

  @media (orientation: landscape) {
    flex-direction: row;
    flex: 1;
  }

  @media (orientation: portrait) {
    flex-direction: column;
  }
}

@mixin container {
  height: auto;

  background-color: $card-background;
  border: none;
  border-radius: 5%;

  .ant-card-head {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .ant-card-head-title {
    padding: 0;
  }

  .ant-card-body {
    padding: 2vmin;
    @include center-vertical;
  }

  @media (orientation: landscape) {
    min-height: 50vh;
    width: 40vw;
    margin: 2vh;
    padding: 2vh;

    .ant-card-head-title {
      font-size: 3vw;
    }
  }

  @media (orientation: portrait) {
    width: 80vw;
    margin: 1vh;
    padding: 1vh;

    .ant-card-head-title {
      font-size: 5vh;
    }
  }
}

.upload-container {
  @include center-vertical;
  @include container;

  form {
    width: 100%;
  }
}

.dropzone-container {
  @include center-vertical;

  margin-bottom: 2vh;
}

.params {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.key-input {
  width: 10vw;
}

.bpm-input {
  .ant-input-number {
    width: 6vw;
  }
}

.meter-input {
  .ant-input-number {
    width: 4vw;
  }
}

.upload-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;

  button {
    margin: 0 1vw;
  }
}

.result-container {
  @include container;
  @include center-vertical;
}

.loader {
  width: 100%;
  height: 100%;
  padding: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .ant-spin-dot-item {
    width: 8vh;
    height: 8vh;
    margin: 1vh;
  }
}

.ant-progress {
  width: 20vw;
}

.result-row {
  @include center-horizontal;
  justify-content: space-evenly;
}

.result-field {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 1vh;

  h3 {
    margin: 0;
    margin-right: 0.5em;
  }
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.ant-tag {
  font-size: 2vh;
  height: 3vh;
  margin: 0.5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 3vh;
}

.current-chord-tag {
  @extend .ant-tag;

  font-size: 3vh;
  height: 4vh;
  margin: 0 0.5vh;
  line-height: 4vh;
}

.player {
  @include center-horizontal;
  justify-content: space-evenly;
  background-color: $player-background;
  border-radius: 10vh;
  padding: 2vh 2vw;
  margin: 2vh 0;
  width: 32vw;

  button {
    @include center-vertical;
    @include audio-button;
    margin: 0 2vh;

    background-color: #fff;
    color: $antd-button-primary;
    justify-content: center;
    padding: 0;
    border-radius: 100%;
    border-style: solid;

    span {
      @include audio-button;

      svg {
        @include audio-button;
      }
    }
  }

  button:focus {
    background-color: #fff;
    color: $antd-button-primary;
  }

  button:hover {
    background-color: #fff;
    color: $antd-button-primary-hover;
  }

  .time {
    margin: 0;
  }

  .ant-slider {
    width: 16vw;
  }
}

.harmony-volume {
  @include center-horizontal;

  h4 {
    margin: 0;
    margin-right: 1vw;
  }

  .ant-slider {
    width: 12vw;
  }
}

.download {
  margin: 2vh;
}
