@font-face {
  font-family: "Nunito Sans Light";
  src: url("../fonts/NunitoSans-Light.ttf");
  font-display: block;
}

$antd-button-primary: #1890ff;
$antd-button-primary-hover: #096dd9;

@mixin center-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin center-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin audio-button {
  width: 5vh;
  height: 5vh;
}

body {
  @include center-vertical;

  margin: 0;
  font-family: "Nunito Sans Light", sans-serif;
  font-feature-settings: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

.center-vertical {
  @include center-vertical;
}

.title {
  font-size: 6vw;
  text-align: center;
  margin: 2vw;
}

.content {
  display: flex;
  flex-direction: row;
}

@mixin container {
  width: 50vw;
}

.upload-container {
  @include center-vertical;
  @include container;
}

.dropzone-container {
  @include center-vertical;

  margin-bottom: 2vh;
}

.result-container {
  @include container;
  @include center-vertical;
}

.loader {
  width: 100%;
  height: 100%;
  padding: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .ant-spin-dot-item {
    width: 5vh;
    height: 5vh;
    margin: 1vh;
  }
}

.player {
  @include center-horizontal;

  background-color: hsl(215, 16, 6);
  border-radius: 10vh;
  padding: 2vh 2.5vh;
  margin: 2vh;

  button {
    @include center-vertical;
    @include audio-button;
    margin: 0 2vh;

    background-color: #fff;
    color: $antd-button-primary;
    justify-content: center;
    padding: 0;
    border-radius: 100%;
    border-style: solid;

    span {
      @include audio-button;

      svg {
        @include audio-button;
      }
    }
  }

  button:focus {
    background-color: #fff;
    color: $antd-button-primary;
  }

  button:hover {
    background-color: #fff;
    color: $antd-button-primary-hover;
  }

  .time {
    margin: 0;
  }

  .ant-slider {
    width: 20vw;
  }
}
