@font-face {
  font-family: "Nunito Sans Light";
  src: url("../fonts/NunitoSans-Light.ttf");
  font-display: block;
}

$antd-button-primary: #1890ff;
$antd-button-primary-hover: #096dd9;
$card-background: hsl(215, 16, 2);

@mixin center-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin center-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin audio-button {
  width: 4vh;
  height: 4vh;
}

body {
  @include center-vertical;

  margin: 0;
  font-family: "Nunito Sans Light", sans-serif;
  font-feature-settings: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

.center-vertical {
  @include center-vertical;
}

.title {
  font-size: 6vw;
  text-align: center;
  margin: 0;
  margin-top: 2vw;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@mixin container {
  width: 40vw;
  height: 50vh;
  margin: 5vh 2vw;
  padding: 2vh 2vw;

  background-color: $card-background;
  border: none;
  border-radius: 5%;

  .ant-card-head {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .ant-card-head-title {
    font-size: 3vw;
    padding: 0;
    // padding-top: 1vh;
  }

  .ant-card-body {
    padding: 2vh;
  }
}

.upload-container {
  @include center-vertical;
  @include container;

  form {
    width: 100%;
  }
}

.dropzone-container {
  @include center-vertical;

  margin-bottom: 2vh;
}

.params-title {
  text-align: center;
}

.params {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.params-instructions {
  text-align: center;
}

.key-input {
  width: 10vw;
}

.upload-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;

  button {
    margin: 0 1vw;
  }
}

.result-container {
  @include container;
  @include center-vertical;
}

.file-name {
  text-align: center;
}

.loader {
  width: 100%;
  height: 100%;
  padding: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .ant-spin-dot-item {
    width: 8vh;
    height: 8vh;
    margin: 1vh;
  }
}

.player {
  @include center-horizontal;

  background-color: hsl(215, 16, 6);
  border-radius: 10vh;
  padding: 2vh 2.5vh;
  margin: 2vh;

  button {
    @include center-vertical;
    @include audio-button;
    margin: 0 2vh;

    background-color: #fff;
    color: $antd-button-primary;
    justify-content: center;
    padding: 0;
    border-radius: 100%;
    border-style: solid;

    span {
      @include audio-button;

      svg {
        @include audio-button;
      }
    }
  }

  button:focus {
    background-color: #fff;
    color: $antd-button-primary;
  }

  button:hover {
    background-color: #fff;
    color: $antd-button-primary-hover;
  }

  .time {
    margin: 0;
  }

  .ant-slider {
    width: 14vw;
  }
}
