@font-face {
  font-family: "Nunito Sans Light";
  src: url("../fonts/NunitoSans-Light.ttf");
  font-display: block;
}

.center-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  @extend .center-vertical;

  margin: 0;
  font-family: "Nunito Sans Light", sans-serif;
  font-feature-settings: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

.title {
  font-size: 6vw;
  text-align: center;
  margin: 2vw;
}

.upload-container {
  @extend .center-vertical;

  margin-bottom: 3vh;
}

.upload {
  @extend .center-vertical;
  margin-bottom: 2vh;
}

.loader {
  width: 100%;
  height: 100%;
  padding: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .ant-spin-dot-item {
    width: 5vh;
    height: 5vh;
    margin: 1vh;
  }
}

.ant-slider {
  width: 20vw;
}
